<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      TechTrain Cinema.
    </header>
    <div class="container__contents">
      <div class="menu">
        <div class="menu__title">
          menu
        </div>
        <div class="menu__contents">
          Movies
        </div>
        <div class="menu__contents">
          Showtime
        </div>
        <div class="menu__contents">
          Reservations
        </div>
      </div>
      <div class="contents">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
